<center>
  <div class = "main-content">
      <h3> Submit the form below to receive an electronic catalog of our products </h3>
  </div>
  <br>

  <form class = "main-content" id = "form" action="/catlog" method="POST">
    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <textarea type = "text"  id="exampleFormControlTextarea1" rows="2" cols = "60" name = "name" placeholder="Enter Your Name here... "></textarea>
    </div>

    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <textarea type = "email"  id="exampleFormControlTextarea1" rows="2" cols = "60" name = "email" placeholder="Enter Your Email here... "></textarea>
    </div>
    <br>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary" name = "submit">Submit</button>
    </div>
  </form>
</div>
<center>