<div class = "main-content">
    <h2> Submit the form below to recieve an electronic catlog of our products </h2>
</div>
<br>

<form class = "main-content" id = "form" action="/" method="POST">
  <div class="row">
    <div class="col">
      <input cols = "50" type="text" name = "name" placeholder="Enter Your Name Here">
    </div>
 </div>
<br>
<div class="row">
    <div class="col">
      <input cols = "50" type="text" name = "email" placeholder="Enter Your Name Here">
    </div>
 </div>
<br>

<br>
<div class="col-auto my-1">
      <button type="submit" class="btn btn-primary" name = "submit">Submit</button>
</div>
</form>