<div class="container">
    <div class="row justify-content-around">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/choclate.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Choclate Chips</h5>
                <p class="card-text">$5.99 / Dozen</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/lemon.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Lemon </h5>
                <p class="card-text">$5.99 / Dozen</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/coconut.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Coconut Cookies</h5>
                <p class="card-text">$5.99 / Dozen</p>
            </div>
        </div>
    </div>
</div>