<div class="container">
    <div class="row justify-content-around">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top " src="/images/choclate.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Choclate Chips</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.modernhoney.com/wp-content/uploads/2016/03/DSC_0212-copy.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Lemon Cookies</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://i.pinimg.com/736x/ae/70/0d/ae700d27e91a5b88ec524370a6c69ee1--making-chocolate-chocolate-recipes.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Coconut Cookies</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>