<div class="container">
    <div class="row justify-content-around">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/weddingCake.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wedding Cake</h5>
                <p class="card-text">$59.99 / Pound</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/weddingCake2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Anniverysary Cake</h5>
                <p class="card-text">$59.99 / Pound</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/turtleCake.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Birthday Cake</h5>
                <p class="card-text">$59.99 / Pound</p>
            </div>
        </div>
    </div>
</div>