<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/mainCookie.jpg" alt="Cookie" >   
    </div>
    <div class="carousel-item">
      <img src="images/mainMuffin.jpeg" alt="Muffin" >   
    </div>
    <div class="carousel-item">
      <img src="images/mainCake.jpg" alt="Cake" >   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br>

<div style="padding-top:50px;">
</div>

<!--Call to action-->
  <div class="text-center py-3">
      <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item">
              <a href="/catlog" class="btn btn-primary btn-rounded">Sign up for Catalog!</a>
          </li>
      </ul>
  </div>
  <!--/.Call to action-->

 