.carousel-inner img {
    width: 1100px;
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
  }

 .card img {
   height: 300px;
 }


 .logo {
   font-size: 36px;
   font-style: italic;
   color: gray;
 } 

 .padding1{
   padding-top: 100px;
 }

 .padding2{
  padding-top: 50px;
}

body {
  background-color: #9DCFEA;
}